[Desktop Entry]
Type=Application
Name=dRally
Comment="A port of Death Rally (1996)"
Icon=drally
Exec=drally_linux
Terminal=false
StartupWMClass=
Categories=Game;Action;Racing;
